@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--verde), var(--lilas));
    }

    section#login {
        width: 80vw;

        div#imagem {
            float: left;
            width: 30%;
            height: 100%;
        }

        div#formulario {
            float: right;
            width: 70%;
        }
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--verde), var(--lilas));
    }

    section#login {
        width: 950px;

        div#imagem {
            float: right;
            width: 50%;
            height: 100%;
        }

        div#formulario {
            float: left;
            width: 50%;

            h1 {
                font-size: 2em;
            }

            p {
                font-size: 1.2em;
            }
        }
    }
}